name: Build

on:
- push
- pull_request

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build_type:
        - Release
        - Debug

        toolchain:
        - gcc
        - clang

        boost_line:
        - os: ubuntu-22.04
          boost: '1.74'
        - os: ubuntu-24.04
          boost: '1.83'

    name: ${{ matrix.build_type }} ${{ matrix.toolchain }} boost ${{ matrix.boost_line.boost }} ${{ matrix.boost_line.os }}
    runs-on: ${{ matrix.boost_line.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Update apt cache
      run: sudo apt-get update

    - name: Install apt packages for dependencies
      run: >
        sudo apt-get install -y --no-install-recommends
        ccache
        clang
        cmake
        g++
        libboost-all-dev
        libgmock-dev
        libgtest-dev
        ninja-build

    - name: Select compiler
      run: |
        if [ "${{ matrix.toolchain }}" = "gcc" ]; then
          echo "CXX=g++" >> "$GITHUB_ENV"
        else
          echo "CXX=clang++" >> "$GITHUB_ENV"
        fi

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: ${{ matrix.boost_line.os }}-${{ matrix.toolchain }}-${{ matrix.boost_line.boost }}-${{ matrix.build_type }}-v2
        max-size: 1G

    - name: Configure
      run: >
        cmake
        -B build
        -S .
        -G Ninja
        -D CMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -D CMAKE_INSTALL_PREFIX=${{ github.workspace }}/install
        -D CMAKE_CXX_COMPILER=${{ env.CXX }}
        -D CMAKE_CXX_COMPILER_LAUNCHER=ccache
        -D RESOURCE_POOL_BUILD_TESTS=ON
        -D RESOURCE_POOL_BUILD_EXAMPLES=ON
        -D RESOURCE_POOL_BUILD_BENCHMARKS=OFF
        -D RESOURCE_POOL_USE_SYSTEM_GOOGLETEST=ON

    - name: Build
      run: cmake --build build

    - name: Install
      run: cmake --install build

    - name: Run tests
      run: ctest --test-dir build --output-on-failure

    - name: Run async_pool example
      run: build/examples/async_pool

    - name: Run async regression smoke
      run: build/examples/async_regression

    - name: Run async_strand example
      run: build/examples/async_strand

    - name: Run coro_pool example
      run: build/examples/coro_pool

    - name: Run sync_pool example
      run: build/examples/sync_pool

  test_conan_package:
    name: Test conan package
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Update apt cache
      run: sudo apt-get update

    - name: Install apt packages for dependencies
      run: >
        sudo apt-get install -y --no-install-recommends
        clang-15
        cmake
        libboost-all-dev
        python3
        python3-pip

    - name: Create depending package
      run: scripts/ci/conan.sh
